.ff1{
    font-family: 궁서체;
}
.ff2{
    font-family: 굴림체;
}

#fs1{
    font-size: 20px;
}
#fs2{
    font-size: 2em;
}
#fs3{
    font-size: 2rem;
}
#fw1{
    font-weight: 900;
}
#fw2{
    font-weight: lighter;
}

.fstyle{
    font-style: italic;
}

#c-name {
    color: black;
}

#c-16{
    color: #000000;
    color : #000;
}

#c-rgb{
    /* 빨강 초록 파랑의 양을 0~255까지의 숫자로 표현 */
    color: rgb(255, 0, 0);
}

#c-rgba{
    /* a는 투명도(0~1) */
    color: rgba(0, 0, 255, 0.5)
}

a{
    color:black;
    text-decoration: none;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.lineheight{
    /* 세로 중앙 정렬 : 한줄 일때만 가능 */
    height: 100px;
    line-height: 100px;
    border: 1px solid black;
    width: 400px;
    text-align: center;
    /* 블럭형식일 경우 마진을 오토로 주어
    가로 정렬을 할 수 있다 */
    margin: auto;
}

.shadow1{
    /* 그림자 효과 
        가로, 세로, 번짐 정도, 색상*/
    text-shadow: 5px 5px 2px #aaa;
}

.shadow2{
    text-shadow: -5px -5px 2px red;
}

.shadow3{
    text-shadow: 0px 0px 10px black;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.spacing{
    letter-spacing: 0.3rem;
}