.ff1{
    font-family: 궁서체;
}
.ff2{
    font-family: 굴림체;
}

#fs1{
    font-size: 20px;
}
#fs2{
    font-size: 2em;
}
#fs3{
    font-size: 2rem;
}
#fw1{
    font-weight: 900;
}
#fw2{
    font-weight: lighter;
}

.fstyle{
    font-style: italic;
}

#c-name {
    color: black;
}

#c-16{
    color: #000000;
    color : #000;
}

#c-rgb{
    /* 빨강 초록 파랑의 양을 0~255까지의 숫자로 표현 */
    color: rgb(255, 0, 0);
}

#c-rgba{
    /* a는 투명도(0~1) */
    color: rgba(0, 0, 255, 0.5)
}

a{
    color:black;
    text-decoration: none;
}